################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Butterfly/src/Butterfly.Client.Test/obj/Debug
/Butterfly/src/.vs/Butterfly/v16
/Butterfly/src/Butterfly.Common/bin/Debug
/Butterfly/src/Butterfly.Common/obj/Debug
/Butterfly/src/Butterfly.Data/bin/Debug
/Butterfly/src/Butterfly.Data/obj/Debug
/Butterfly/src/Butterfly.Interfaces/bin/Debug/netstandard2.0
/Butterfly/src/Butterfly.Interfaces/obj/Debug/netstandard2.0
/Butterfly/src/Butterfly.Interfaces/obj
/Butterfly/src/Butterfly.Maps/bin/Debug
/Butterfly/src/Butterfly.Maps/obj/Debug
/Butterfly/src/Butterfly.Models/bin/Debug/netstandard2.0
/Butterfly/src/Butterfly.Models/obj/Debug/netstandard2.0
/Butterfly/src/Butterfly.Models/obj
/Butterfly/src/Butterfly.Repositories/bin/Debug
/Butterfly/src/Butterfly.Repositories/obj/Debug
/Butterfly/src/Butterfly.Server/bin/Debug
/Butterfly/src/Butterfly.Server/obj/Debug
/Butterfly/src/Butterfly.Server.Core/bin/Debug
/Butterfly/src/Butterfly.Server.Core/obj/Debug
/Butterfly/src/Butterfly.Services/bin/Debug
/Butterfly/src/Butterfly.Services/obj/Debug
/Butterfly/src/Butterfly.ViewModels/obj/Debug/netstandard2.0
/Butterfly/src/Butterfly.ViewModels/obj
/Butterfly/src/Butterfly.ViewModels/bin/Debug/netstandard2.0
/Butterfly/src/packages
/Butterfly/src/.vs/Butterfly/DesignTimeBuild
/Butterfly/src/Butterfly.MultiPlatform.Common/obj
/Butterfly/src/Butterfly.MultiPlatform.Common/bin/Debug/netstandard2.0
/Butterfly/src/Butterfly.MultiPlatform.Communication/bin/Debug/netstandard2.0
/Butterfly/src/Butterfly.MultiPlatform.Communication/obj/Debug/netstandard2.0
/Butterfly/src/Networker/bin/Debug/netstandard2.0
/Butterfly/src/Networker/obj/Debug/netstandard2.0
/Butterfly/src/Networker/obj
/Butterfly/src/Networker.Formatter.ProtobufNet/bin/Debug/netstandard2.0
/Butterfly/src/Networker.Formatter.ProtobufNet/obj/Debug/netstandard2.0
/Butterfly/src/Networker.Formatter.ProtobufNet/obj
/Butterfly/src/Networker.Pipelines/bin/Debug/netstandard2.0
/Butterfly/src/Networker.Pipelines/obj/Debug/netstandard2.0
/Butterfly/src/Networker.Pipelines/obj
/Butterfly/src/Networker.ZeroFormatter/bin/Debug/netstandard2.0
/Butterfly/src/Networker.ZeroFormatter/obj/Debug/netstandard2.0
/Butterfly/src/Networker.ZeroFormatter/obj
/Butterfly/src/Butterfly.MultiPlatform.Communication/obj
/Butterfly/src/Butterfly.MultiPlatform.Packets/bin/Debug/netstandard2.0
/Butterfly/src/Butterfly.MultiPlatform.Packets/obj/Debug/netstandard2.0
/Butterfly/src/Butterfly.MultiPlatform.Packets/obj
/Butterfly/src/Butterfly.Windows.Modules/bin/Debug
/Butterfly/src/Butterfly.Windows.Modules/obj/Debug
/Butterfly/src/Butterfly.Windows.Server.Handlers/bin/Debug
/Butterfly/src/Butterfly.Windows.Server.Handlers/obj/Debug
/Butterfly/src/Butterfly.Windows..Server/bin/Debug
/Butterfly/src/Butterfly.Windows..Server/obj/Debug
/Butterfly/src/Butterfly.Windows.Common/bin/Debug
/Butterfly/src/Butterfly.Windows.Common/obj/Debug
/Butterfly/src/Butterfly.Windows.Data/bin/Debug
/Butterfly/src/Butterfly.Windows.Data/obj/Debug
bin
obj
packages
